.dashboard {
    display: flex;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 90px;

}

.container {
    width: 100%;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 10px;
    backdrop-filter: blur(100px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.29);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}