@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background-color: #ffffff;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    top: 5px;
    height: 70px;
    position: fixed;
    width: 100%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 1);
    z-index: 1000;
    backdrop-filter: blur(21px) saturate(200%);
    -webkit-backdrop-filter: blur(21px) saturate(200%);
    background-color: rgba(157, 178, 191, 0.49);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.logo {
    display: flex;
    align-items: center;

}

.logo-name {
    font-size: 2rem;
    font-weight: bold;
    color: #DDE6ED;
    margin-left: 10px;
}

.menu-icon {
    display: none;
}


.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li a {
    display: flex;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 30px;
}

.nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: #DDE6ED;
    text-decoration: none;
}

.nav-elements ul a.active {
    color: #DDE6ED;
    font-weight: 500;
    position: relative;
}

.nav-elements ul a.active::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #DDE6ED;
}



@media (max-width: 970px) {
    .nav-elements ul li:not(:last-child) {
        margin-right: 30px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 70px;
        width: 0px;
        height: calc(100vh);
        transition: all 0.3s ease-in;
        overflow: hidden;
        backdrop-filter: blur(25px) saturate(200%);
        -webkit-backdrop-filter: blur(25px) saturate(200%);
        background-color: rgba(82, 109, 130, 0.77);
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.125);
    }

    .nav-elements.active {
        width: 270px;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }
}

@media (max-width: 600px) {}

.nav-elements ul li ul {
    margin-top: 5px;
    display: none;
    /* Hide dropdown by default */
    position: absolute;
    background-color: #DDE6ED;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.777);
}

.nav-elements ul li {
    display: block;
    /* Show dropdown on hover */
}

.nav-elements ul li ul li {
    margin-top: 10px;
}

/* Adjust styling of dropdown links as needed */
.nav-elements ul li ul li a {
    color: #DDE6ED;
    text-decoration: none;
}